In [1]:
from articles_dataset import load_articles

# Companies used in our datatset, unrelated articles will be filtered out
company_picks = {'Google': 'GOOGL', 'Delta': 'DAL', 'Lockheed Martin': 'LMT', 'Pfizer': 'PFE', 
                 'Qualcomm': 'QCOM', 'Netflix': 'NFLX', 'Baidu': 'BIDU', 'Biogen': 'BIIB',
                 'AstraZeneca': 'AZN', 'First Solar': 'FSLR', 'Electronic Arts': 'EA', 'Activision': 'ATVI',
                 'Nvidia': 'NVDA', 'Apple': 'AAPL', 'Advanced Micro Devices': 'AMD', 'GoPro': 'GPRO',
                 'Alibaba': 'BABA', 'Tesla': 'TSLA', 'Amazon': 'AMZN'}

articles = load_articles(company_picks)

/Users/itamarbar-yossef/Desktop/ATLAS/articles_dataset.py:22: DtypeWarning: Columns (2,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_articles = pd.read_csv(articles_path)

In [2]:
articles

,Date,Stock,Article_title,Article
0,2011-10-06 00:00:00 UTC,AAPL,Samsung Profit Beats Estimates as Galaxy Smart...,"Samsung Electronics Co., the world’s\nsecond-l..."
1,2011-10-06 00:00:00 UTC,AAPL,Apple Security Officials Talked to City Police...,Apple Inc. (AAPL) security officials met\nwit...
2,2011-10-06 00:00:00 UTC,AAPL,Apple Looks to Overseas Growth to Stay on Top ...,Steve Jobs built Apple Inc. into the\nworld’s...
3,2011-10-06 00:00:00 UTC,AZN,AstraZeneca Will Cut 400 U.S. Jobs Amid Generi...,"AstraZeneca Plc (AZN) , the U.K.’s second-\nbi..."
4,2011-10-06 00:00:00 UTC,AAPL,Apple General Counsel Sewell Becomes Protector...,If Steve Jobs was the creative force\nthat m...
...,...,...,...,...
6201,2011-04-19 00:00:00 UTC,PFE,"Pfizer, J&J Must Train U.S. Doctors on Safe Us...","Pfizer Inc. (PFE) , Johnson & Johnson (JNJ) ..."
6202,2011-04-19 00:00:00 UTC,GOOGL,Google Shares' Downward Momentum Takes Time to...,The slide in Google Inc. (GOOG) that began\n...
6203,2011-04-19 00:00:00 UTC,DAL,Rodent Droppings ‘Too Numerous to Count’ Found...,Rodent droppings “too numerous to\ncount” were...
6204,2011-04-19 00:00:00 UTC,AAPL,Record Streak for S&P 500 Earnings May Rest Wi...,Investors counting on a record\nstreak of high...
6205,2011-04-19 00:00:00 UTC,AAPL,Apple Said to Add Foxconn’s Chimei as Supplier...,Apple Inc. (AAPL) has agreed to add\nFoxconn ...

In [3]:
from articles_dataset import load_stockprices
stockdata = load_stockprices(list(company_picks.values()))
stockdata

,Date,GOOGL,DAL,LMT,PFE,QCOM,NFLX,BIDU,BIIB,AZN,FSLR,EA,ATVI,NVDA,AAPL,AMD,GPRO,BABA,TSLA,AMZN
0,1972-06-01,NaN,NaN,NaN,0.859375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1972-06-02,NaN,NaN,NaN,0.848958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1972-06-05,NaN,NaN,NaN,0.846354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1972-06-06,NaN,NaN,NaN,0.864583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1972-06-07,NaN,NaN,NaN,0.864583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12061,2020-03-26,1162.920044,31.700001,350.329987,31.750000,68.980003,362.989990,101.820000,304.940002,42.360001,37.619999,99.199997,57.720001,257.239990,258.440002,47.500000,2.70,195.320007,528.159973,1955.489990
12062,2020-03-27,1110.260010,29.549999,348.380005,30.900000,66.589996,357.119995,97.629997,296.750000,42.470001,35.630001,95.370003,56.959999,252.729996,247.740005,46.580002,2.48,188.589996,514.359985,1900.099976
12063,2020-03-30,1146.310059,28.670000,348.850006,32.669998,69.029999,370.959991,98.949997,316.130005,44.529999,36.060001,97.690002,58.470001,265.589996,254.809998,47.860001,2.64,191.270004,502.130005,1963.949951
12064,2020-03-31,1161.949951,28.530001,338.950012,32.639999,67.650002,375.500000,100.790001,316.380005,44.660000,36.060001,100.169998,59.480000,263.600006,254.289993,45.480000,2.62,194.479996,524.000000,1949.719971
12065,2020-04-01,1102.099976,23.870001,338.519989,31.750000,65.900002,364.079987,97.680000,293.269989,43.779999,33.439999,97.529999,57.500000,243.070007,240.910004,43.660000,2.49,187.559998,481.559998,1907.699951

In [4]:
from articles_dataset import add_deltas

articles = add_deltas(articles, stockdata)
articles

,Date,Stock,Article_title,Article,delta_week,delta_month
0,2011-10-06 00:00:00 UTC,AAPL,Samsung Profit Beats Estimates as Galaxy Smart...,"Samsung Electronics Co., the world’s\nsecond-l...",4.437141,3.671429
1,2011-10-06 00:00:00 UTC,AAPL,Apple Security Officials Talked to City Police...,Apple Inc. (AAPL) security officials met\nwit...,4.437141,3.671429
2,2011-10-06 00:00:00 UTC,AAPL,Apple Looks to Overseas Growth to Stay on Top ...,Steve Jobs built Apple Inc. into the\nworld’s...,4.437141,3.671429
3,2011-10-06 00:00:00 UTC,AZN,AstraZeneca Will Cut 400 U.S. Jobs Amid Generi...,"AstraZeneca Plc (AZN) , the U.K.’s second-\nbi...",0.510000,0.985001
4,2011-10-06 00:00:00 UTC,AAPL,Apple General Counsel Sewell Becomes Protector...,If Steve Jobs was the creative force\nthat m...,4.437141,3.671429
...,...,...,...,...,...,...
6201,2011-04-19 00:00:00 UTC,PFE,"Pfizer, J&J Must Train U.S. Doctors on Safe Us...","Pfizer Inc. (PFE) , Johnson & Johnson (JNJ) ...",-0.340000,0.609999
6202,2011-04-19 00:00:00 UTC,GOOGL,Google Shares' Downward Momentum Takes Time to...,The slide in Google Inc. (GOOG) that began\n...,5.650635,4.469452
6203,2011-04-19 00:00:00 UTC,DAL,Rodent Droppings ‘Too Numerous to Count’ Found...,Rodent droppings “too numerous to\ncount” were...,0.860000,1.880000
6204,2011-04-19 00:00:00 UTC,AAPL,Record Streak for S&P 500 Earnings May Rest Wi...,Investors counting on a record\nstreak of high...,1.794289,-0.245712
6205,2011-04-19 00:00:00 UTC,AAPL,Apple Said to Add Foxconn’s Chimei as Supplier...,Apple Inc. (AAPL) has agreed to add\nFoxconn ...,1.794289,-0.245712